html {
	background-color: black;
}

p {
	font-size: 12px; 
	font-family: "Consolas", Lucida, monospace;
	color: white
}

#author {
	font-size: 25px;
}
#headers {
	style=font-size:40px;
	background-color:white;
	color:black;
	text-decoration: underline
}
#jar {
	style=font-size:40px;
	color:black;
	white-space:PRE;
}